@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nabi";
    src: url("../fonts/Nabi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nabi1";
    src: url("../fonts/Nabi1.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: Vazir;
    direction: rtl;
}


.fji {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
}

.bg-3d {
    background:
        linear-gradient(90deg, #9b9a9aa9 0%, #fff 2%, #fff 98%, #9b9a9aa9 100%),
        linear-gradient(#9b9a9aa9 0%, #fff 1%, #fff 99%, #9b9a9aa9 100%),
        linear-gradient(135deg, #9b9a9aa9 0%, #fff 2%, #fff 98%, #9b9a9aa9 100%),
        linear-gradient(45deg, #9b9a9aa9 0%, #fff 2%, #fff 98%, #9b9a9aa9 100%);
    background-blend-mode: multiply;
}